h1 a, h2 a {
    color: #ff4490;
    font-family: 'Lobster';
}

body {
    background-image: url("../img/congyu.jpg");
    background-size: cover; /* 或者你可以使用 'contain' 或其他值根据需要调整 */
    background-repeat: no-repeat; /* 确保图片不重复 */
    background-position: center center; /* 将背景图片居中 */
    padding-left: 15px;
    font-family: 'Lobster', sans-serif; /* 示例字体 */
    /*background-color: rgba(255, 255, 255, 0.5); /* 50%透明度的白色背景 */
    /*background-blend-mode: overlay; /* 将背景图片和背景颜色混合 */
}


.page-header {
    background-color: #ffe149;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #ffe149;
    background: none;
    border-color: #ffe149;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #C25100;
}